<!DOCTYPE html>
<html lang="en">
<% include header %>
<body>
    <% include navbar %>
 	
	<div class="container">
        <div class="page-header">
			<h1>
				Personal Profile
			</h1>			
			<div class="col-sm-6" id="profile_picture">
				<% if (user.image.contentType) { %>
						<img id="image" src="">
						<script>
							console.log('here');
							// in Jade: 'data: user.image.contentType; base64, user.image.data'
							document.getElementById('image').src = "data:" + "<%=user.image.contentType%>" + ";base64," + "<%=user.image.data%>";
						</script>
						</br>
						</br>
					<div class="well">
						<h3>Change your picture:</h3>
						<form id="formUpload" method="post" action="uploadImage" enctype="multipart/form-data">
						  <input id="image" type="file" name="image"/>
						  <br/>
						  <button id="btnSubmit" type="submit">Submit</button>
						</form>
					</div>
				<% } else { %>
					<div class="well">
						<h3>
						<span class="fa fa-picture-o">  Add a Profile Picture</span>
						</h3>							
						<form id="formUpload" method="post" action="/uploadImage" enctype="multipart/form-data">
						  <input id="image" type="file" name="image"/>
						  <br/>
						  <button id="btnSubmit" type="submit">Submit</button>
						</form>
					</div>
				<% } %>
			</div>
			<div class="clearfix visible-xs visible-sm visible-md visible-lg"></div>
        </div>
		
		<div class="container">
			<div class="col-sm-6">
				<div class="well">
					<span class="fa fa-user"></span>  Local
					<br/>
					<strong>Name</strong>
					<%= user.local.name %>
					<br/>
					<strong>Email</strong>
					<%= user.local.email %>
					<br/>
					<strong>Interests:</strong>
					<br/>
					<%= user.local.interest1 %>
					<br/>
					<%= user.local.interest2 %>
					<br/>
					<%= user.local.interest3 %>
					<br/>
					
					<% if (user.local.phonenum) { %>
						<strong>Phone number:</strong>
						<%= user.local.phonenum %>
						</br>
					<% } %>
						
					<strong>Background</strong>
					<%= user.local.background %>
					</br>
					<strong>Achievements</strong>
					<%= user.local.achievements %>
					</br>
					<strong>GymBud Goals</strong>
					<%= user.local.goals %>
					</br>
					<strong>User Status:</strong>
					
					<% if (user.local.trainer_filter) { %>
						Trainer
					<% } else { %>
						Gym Goer
					<% } %>
					<br/>
					
					<form action='/edit-profile'>
						<input type='submit' value='Edit Profile'>
					</form>
				</div>
			</div>
			
			<div class="col-sm-6">
				<div class="well chat chatArea">
					<ul class="messages">
						<input type="hidden" id="toField" value="<%=to%>"/>
						<input type="hidden" id="username" value="<%= user.local.email %>"/>
						<input placeholder="Type here..." class="inputMessage"/>
					</ul>
				</div>
			</div>
			<br/>
			
			<div class="col-sm-6">
				<% if (user.facebook.accessToken) { %>
					<div class="well">
						<h3>
						<span class="fa fa-facebook"> Facebook Verified! </span>
						</h3>
					</div>
				<% } else { %>
					<div class="well">
						<h3>
						<span class="fa fa-facebook"> Login with Facebook! </span>
						<br>
						<a href='/auth/facebook/' class='btn btn-primary'> Verify With Facebook </a>
					</div>
				<% } %>
			</div>
			
			<div class="col-sm-6 well">
				<a href="/add-event" class="btn btn-primary"> Create a new Event </a>
			  
				<% for (var i = 0; i < events.length; i++) { %>
					<h3>
					  <%= events[i].description %>
					</h3>
					<h4>
					  With: <%= events[i].person1 %> and <%= events[i].person2 %>
					</h4>
					<h4>
					  On: <%= events[i].date %>
					</h4>
					<h4>
					  At: <%= events[i].place %>
					</h4>
				<% } %>
			</div>

			<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
			<script src="/socket.io/socket.io.js"></script>
			<script src="/main.js"></script>
	 
			<hr/>
			<% include footer %>
		</div>
		<!-- inner container -->
		
	</div>
	<!-- container -->
	
    <script type="text/javascript">
        $(document).ready(function() {
            $('#profile').addClass("active");
        });
    </script>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script
        src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</body>
</html>
