<!DOCTYPE html>
<html lang="en">
<% include header %>
<body>
    <% include navbar %>
 	
     <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
      <!--<script src="//code.jquery.com/jquery-1.10.2.js"></script>-->


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script>
      $(function () {

      var $searchBox = $("#search");
      console.log($searchBox);
      $searchBox.autocomplete({
          source: function (request, response) {
             $.ajax({
                url: "/search_user",
                type: "GET",
                data: request,  // request is the value of search input
                success: function (data) {
                  // Map response values to fiedl label and value
                   response($.map(data, function (el) {
                       console.log(el);
                      return {
                         label: el.local.name,
                         value: el.local.email
                      };
                      }));
                   }
                });
             },
             
             // The minimum number of characters a user must type before a search is performed.
             minLength: 3, 
             
             // set an onFocus event to show the result on input field when result is focused
             focus: function (event, ui) { 
                this.value = ui.item.label; 
                // Prevent other event from not being execute
                event.preventDefault();
             },
             select: function (event, ui) {
                // Prevent value from being put in the input:
                this.value = ui.item.label;
                // Set the id to the next input hidden field
                $(this).next("input").val(ui.item.value); 
                // Prevent other event from not being execute            
                event.preventDefault();
                // optionnal: submit the form after field has been filled up
                $('#quicksearch').submit();
             }
      });

        });

    </script>

	<div class="container">
        <div class="page-header">
			<h1 style="text-align: center;">
				Personal Profile
			</h1>
			<div class="profile_picture">
				<% if (user.image.contentType) { %>
					<img id="image" src="">
					<br/>
					<script>
						console.log('here');
						// in Jade: 'data: user.image.contentType; base64, user.image.data'
						document.getElementById('image').src = "data:" + "<%=user.image.contentType%>" + ";base64," + "<%=user.image.data%>";
					</script>
				<% } else { %>
				<% } %>
			</div>
        </div>
		
		<div class="container">
			<div class="col-sm-6">
				<div class="well">
					<h2><span class="fa fa-user"></span> Personal Information</h2>
					<strong>Name</strong>
					<%= user.local.name %>
					<br/>
					<strong>Email</strong>
					<%= user.local.email %>
					<br/>
					<% if(user.rank.points !== undefined) { %>
					<strong>Points Earned</strong>
					<%= user.rank.points %>
					<br />
					<% } else { %>
					<strong> No Points Yet! </strong>
					<br />
					<% } %>
					<strong>Interests:</strong>
					<br/>
					<%= user.local.interest1 %>
					<br/>
					<%= user.local.interest2 %>
					<br/>
					<%= user.local.interest3 %>
					<br/>
					
					<% if (user.local.phonenum) { %>
						<strong>Phone number:</strong>
						<%= user.local.phonenum %>
						</br>
					<% } %>
						
					<strong>Background</strong>
					<%= user.local.background %>
					</br>
					<strong>Achievements</strong>
					<%= user.local.achievements %>
					</br>
					<strong>GymBud Goals</strong>
					<%= user.local.goals %>
					</br>
					<strong>User Status:</strong>
					
					<% if (user.local.trainer_filter) { %>
						Trainer
					<% } else { %>
						Gym Goer
					<% } %>
					<br/>
					
					<form action='/edit-profile'>
						<input type='submit' value='Edit Profile'>
					</form>
				</div>
			</div>
			
			
			
			<div class="col-sm-6">
				<div class="well chat chatArea">
					<ul class="messages">
						<input type="hidden" id="toField" value="<%=to%>"/>
						<input type="hidden" id="username" value="<%= user.local.email %>"/>
						<input placeholder="Type here..." class="inputMessage"/>
					</ul>
				</div>
			</div>
			<br/>
			
				<div class="profile_picture">
					<% if (user.image.contentType) { %>
						<div class="well col-xs-6 col-sm-4 col-md-4">
							<h2>
							<span class="fa fa-picture-o"></span> Change your picture:
							</h2>
							<form id="formUpload" method="post" action="uploadImage" enctype="multipart/form-data">
							  <input id="image" type="file" name="image"/>
							  <br/>
							  <button id="btnSubmit" type="submit">Submit</button>
							</form>
						</div>
					<% } else { %>
						<div class="well col-xs-6 col-sm-4 col-md-4">
							<h2>
							<span class="fa fa-picture-o"></span> Add a Profile Picture
							</h2>							
							<form id="formUpload" method="post" action="/uploadImage" enctype="multipart/form-data">
							  <input id="image" type="file" name="image"/>
							  <br/>
							  <button id="btnSubmit" type="submit">Submit</button>
							</form>
						</div>
					<% } %>
				</div>
			
			<!--
			<div class="col-sm-6">
				<div class="well chat chatArea">
					<ul class="messages">
						<input type="hidden" id="toField" value="<%=to%>"/>
						<input type="hidden" id="username" value="<%= user.local.email %>"/>
						<input placeholder="Type here..." class="inputMessage"/>
					</ul>
				</div>
			</div>
			<br/>
			-->
			
			<!--
			<div class="col-sm-6">
				<% if (user.facebook.accessToken) { %>
					<div class="well">
						<h2>
						<span class="fa fa-facebook"></span> Facebook Verified!
						</h2>
					</div>
				<% } else { %>
					<div class="well">
						<h2>
						<span class="fa fa-facebook"></span> Login with Facebook!
						</h2>
						<br>
						<a href='/auth/facebook/' class='btn btn-primary'> Verify With Facebook </a>
					</div>
				<% } %>
			</div>
			-->
			<!--
            <div class="col-sm-6">
					<div class="well">
                    <div class="ui-widget">

						<h2>
						<span class="fa fa-calendar"></span> Check in with someone:
						</h2>
						<br>
                        <form id="formSearchUsers" method='post' action="checkinWithUser" enctype="multipart/form-data">
                            <input id="search" placeholder="Enter Name Here..." name="search" />
                        <button id="searchSubmit" type="submit"> Check In </button>
                        </form>
					</div>

                </div>
			</div>
			-->

			<div class="col-sm-6 well">
			   <h3>
			     Previous Events
			   </h3>
			   <!--
				<a href="/add-event" class="btn btn-primary"> Create a new Event </a>
				-->
			  
				<% for (var i = 0; i < events.length; i++) { %>
					<h4>
					  Event created by: <%= events[i].creator_name %>
					</h4>
					<h4>
					  On: <%= events[i].date %>
					</h4>
				<% } %>
			</div>

			<!--<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>-->
			<script src="/socket.io/socket.io.js"></script>
			<script src="/main.js"></script>
	 
		</div>
		<!-- inner container -->
	
		<hr/>
		<% include footer %>	
	</div>
	<!-- container -->
	
    <script type="text/javascript">
        $(document).ready(function() {
            $('#profile').addClass("active");
        });
    </script>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- Latest compiled and minified JavaScript -->
    <script
        src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</body>
</html>
