extends layout

block content
 head
  <link rel='stylesheet' href='/style.css'> 
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
 body
  <link href="/background.css" rel="stylesheet">
  .container
   .row.pages
     .col-sm-6
       #userProfile
         if userProfile.local.email 
           .well
             h3
               span.fa.fa-user
               |   Profile
              p
               strong Name
               | : #{userProfile.local.name }
               br
               strong email
               | : #{userProfile.local.email }
               br
               strong Interests: 
               br
               | #{userProfile.local.interest1 }
               br
               | #{userProfile.local.interest2 } 
               br
               | #{userProfile.local.interest3 }
               br
               strong Background: 
               br
               | #{userProfile.local.background }
               br
               strong Organizations: 
               br
               | #{userProfile.local.orgs} 
               br
               strong GymBud Goals:
               br
               | #{userProfile.local.goals}
               br
               strong User Status:
                 if userProfile.local.trainer_filter
                  | Trainer
                 else 
                  | Gym Goer
     .col-sm-6
      #userProfile
       if userProfile.image.contentType
        .well
         h3
          span.fa.fa-picture-o
           |   Profile Picture
         img(id="image" src="")
         script.
          console.log('here');
          document.getElementById("image").src = 'data:#{userProfile.image.contentType};base64,#{userProfile.image.data}';
       else
         .well
           h3
            span.fa.fa-picture-o
             |   No Picture here!
   .row.pages
     .col-sm-6.chat.page
       .well.chatArea
         ul.messages
         input(type='hidden', id='toField', value='#{to}')
         input(type='hidden', id='username', value='#{user.local.email}')
         input.inputMessage(placeholder='Type here...')
     .col-sm-6
      #reviews
       if userProfile.local.trainer_filter
        .well 
         if reviews
          each review, i in reviews
           span.fa.fa-comment-o
             | Rating : #{review.rating}
             br
             | Comments: #{review.comments}
             br
         <form action='/add-review/#{userProfile.local.email}'>
         <input type='submit' value='Add Review'>
         </form>
   script(src='https://code.jquery.com/jquery-1.10.2.min.js')
   script(src='/socket.io/socket.io.js')
   script(src='/main.js')
